{{#each erros}}
  <div class="alert alert-danger" role="alert">
    {{texto}}
  </div>
{{else}}

{{/each}}

<div class="card mt-4 shadow-sm" style="max-width: 600px; margin:auto;">
  <div class="card-body">
    <h5 class="card-title mb-4">Adicionar Nova Categoria</h5>
    <form action="/admin/categorias/nova" method="post">

      <div class="mb-3">
        <label for="nome" class="form-label">Nome da Categoria</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          name="nome"
          placeholder="Digite o nome da categoria"
          required
        />
      </div>

      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input
          type="text"
          class="form-control"
          id="slug"
          name="slug"
          placeholder="Digite o slug da categoria"
          required
        />
      </div>

      <button type="submit" class="btn btn-success w-100">Adicionar Categoria</button>
    </form>
  </div>
</div>