<div class="card mt-4 shadow-sm">
  <div class="card-header bg-primary text-white">
    <h3 class="mb-0">{{postagem.titulo}}</h3>
  </div>
  <div class="card-body">
    <p class="card-text">{{postagem.conteudo}}</p>
  </div>
  <div class="card-footer text-muted text-end">
    Criado em {{postagem.data}}
  </div>
</div>
